<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h3 class="h2 fw-bold">View Contact</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item">Name: <span class="fw-bold">Name</span></li>
        <li class="list-group-item">Email: <span class="fw-bold">Email</span></li>
        <li class="list-group-item">Phone: <span class="fw-bold">Phone</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a routerLink="/" class="btn btn-dark mt-2">
        Back
      </a>
    </div>
  </div>
</div>