<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h3 class="h2 fw-bold">Edit Contact</h3>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!loading && errorMessage">
  <p>{{ errorMessage }}</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form *ngIf="contactForm" [formGroup]="contactForm" (submit)="submitUpdate()">
        <div class="mb-2">
          <input required="true" formControlName="name" name="name" type="text" class="form-control" placeholder="Name" [value]="contact.name">
        </div>
        <div class="mb-2">
          <input required="true" formControlName="email" type="email" name="email" class="form-control" placeholder="Email" [value]="contact.email">
        </div>
        <div class="mb-2">
          <input required="true" formControlName="phone" type="tel" name="phone" class="form-control" placeholder="Phone" [value]="contact.phone">
        </div>
        <div class="mb-2">
          <button class="btn btn-success me-2" type="submit" [disabled]="!contactForm.valid">
            Update
          </button>
          <a routerLink="/" class="btn btn-danger">
            Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>