<div class="modal-header">
  <h4 class="modal-title">Edit Contact</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!loading && errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <form *ngIf="contactForm" [formGroup]="contactForm" (submit)="submitUpdate()">
          <div class="mb-2">
            <input required="true" formControlName="firstName" name="firstName" type="text" class="form-control" placeholder="First Name" [value]="contact.firstName">
          </div>
          <div class="mb-2">
            <input required="true" formControlName="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name" [value]="contact.lastName">
          </div>
          <div class="mb-2">
            <input required="true" formControlName="email" type="email" name="email" class="form-control" placeholder="Email" [value]="contact.email">
          </div>
          <div class="mb-2">
            <button class="btn btn-success me-2 px-4" type="submit" [disabled]="!contactForm.valid">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>