<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h3 class="h2 fw-bold">Add Contact</h3>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!loading && errorMessage">
  <p>{{ errorMessage }}</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="createSubmit()">
        <div class="mb-2">
          <input required="true" [(ngModel)]="contact.name" name="name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="mb-2">
          <input required="true" [(ngModel)]="contact.email" type="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-2">
          <input required="true" [(ngModel)]="contact.phone" type="tel" name="phone" class="form-control" placeholder="Phone">
        </div>
        <div class="mb-2">
          <button class="btn btn-success me-2" type="submit">
            Create
          </button>
          <a routerLink="/" class="btn btn-danger">
            Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>